/* delete */

.animated-button1 {
    -fx-background-color:  #212121;
    -fx-pref-width: 220px;
    -fx-pref-height: 40px;
    -fx-cursor: hand;
}

.animated-button1:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-animation: scale 0.5s linear infinite;
}
/* Decorated Table Header */
.table-view .column-header {
    -fx-background-color: #2E8B57; /* Dark green background color */
    -fx-font-size: 16px; /* Font size for headers */
    -fx-text-fill: white; /* Header text color */
    -fx-border-width: 0 0 1 0; /* Add a bottom border */
    -fx-border-color: white; /* Color of the bottom border */
    -fx-padding: 10px 10px 10px 10px; /* Padding for the header */
    -fx-alignment: center-left; /* Align header text to the left */
}

/* Alternate Row Styling */
.table-row-cell:odd {
    -fx-background-color: #E0FFFF; /* Light blue background color for odd rows */
}

/* Cell Styling */
.table-cell {
    -fx-background-color: #F5F5F5; /* Light gray background color for cells */
    -fx-text-fill: #333; /* Text color for cells */
    -fx-alignment: center; /* Center-align cell content */
    -fx-padding: 5px 10px 5px 10px; /* Padding for cell content */
}

/* Selected Row Styling */
.table-row-cell:selected {
    -fx-background-color: #87CEEB; /* Light sky blue for selected rows */
    -fx-text-fill: white; /* Text color for selected rows */
}

/* Hover Effect for Rows */
.table-row-cell:hover {
    -fx-background-color: #ADD8E6; /* Light blue background on hover */
}
